html {
  min-width: 100%;
  min-height: 100%;
  display: fixed;
}

body {
  width: 1900px;
  height: 900px;
}
#gameView {
  flex: 1;
  /*background-color: #0f0f0f;*/
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
  width: 100%;
  height: 1000px;

  /* Setting this as a flex */
  display: flex;
  justify-content: center
}

.containerBuilt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navBar {
  text-align: center;
}

#roomsButton {

}


.space {
  flex: 1
}



/*
  Backgrounds for itemStyle
*/

.roomClicked {

}







/* 

.custom-modal {
  height: 900px;
  width: 1200px;
  background-color: darkgray;
  margin-top: 400px; 
}
*/

iframe {
  border-top: #c00 1px dotted;
  border-right: #c00 2px dotted;
  border-left: #c00 2px dotted;
  border-bottom: #c00 4px dotted;
}
